a {
    text-decoration: none;
}

#login-box{
    /* width:30%;  纯web演示  */
    height: auto;
    margin:0 auto ;
    /* margin-top:13%; */
    text-align:center;
    background:#00000060;
    /* padding:20px 50px; 纯web演示*/
    padding: 26% 50px;
    }

#login-box h1{
        color: #060809;
}
#login-box  form >.form >.item{
    margin-top:15px;
}
#login-box  form .form .item i{
    font-size:18px;
    color:#fff;
}
#login-box form>.form >.item>input{
    width:180px;
    font-size:18px;
    border:0;
    border-bottom:2px solid #fff;
    padding:5px 10px;
    background:#ffffff00;
    
    color:#fff;
}
#login-box 	button{
    margin-top:20px;
    width:190px;
    height:30px;
    font-size:20px;
    font-weight:700;
    color:#fff;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border:0;
    border-radius:15px;
}
.button {
    margin-top:20px;
    width:190px;
    height:30px;
    font-size:20px;
    font-weight:700;
    color:#fff;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border:0;
    border-radius:15px;
}
.loginBtn {
    width: 35%; 
    margin-top: 35px; 
    margin-left:10px;
    float:left;   
}

.registerBtn {
    width: 35%; 
    margin-top: 35px; 
    margin-right:10px;
    /* float:right; */
}




