* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #581B98;
    height: auto;
}

/* 300;0,400;0,600;1,300 */

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}
/* 外头黑框  width height得改 */
.talk_con{
    /* width:580px; */
    width: auto;
    height:500px;
    /* 黑框线 */
    /* border:1px solid #666; */
    margin:50px auto 0;
    /* 背景 */
    /* background:#f9f9f9; */
}
/* 包在里面的小框  这俩得改*/
.talk_show{

    /* width:580px; */
    width: auto;
    height:420px;
    border:1px solid #666;
    background:#fff;
    /* margin:10px auto 0; */
    margin:0px auto 0;
    overflow:auto;
}


.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
    
}

.chatbox__image--header img {
    margin: 1px 1px;
    float: left;
    height: 30px;
    width: 30px;
    /* border: 1px solid orangered; */
    border-radius: 50%;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* 尾部发送文字的框  也得改长宽/随变化自己动 */
.talk_input{
    /* width:580px; */
    width: auto;
    /* margin:10px auto 0; */
    margin:0px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-top: 20px; */
}

.whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
}
.talk_word{
    width:420px;
    height:26px;
    padding:0px;
    float:left;
    margin-left:10px;
    outline:none;
    text-indent:10px;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
}        
.talk_sub{
    width:56px;
    height:30px;
    float:left;
    margin-left:10px;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
}

/* 这来俩聊天框背景 */
.atalk{
   margin:10px; 
}
.atalk span{
    display:inline-block;
    background:#0181cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}
.btalk{
    margin:10px;
    text-align:right;
}
.btalk span{
    display:inline-block;
    background:#ef8201;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}